<div>
<form class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Student Name</label>
      <input type="text"  class="form-control" name="studentname">
    </div>
    <div class="form-group">
      <label for="pwd">Enrollment No:</label>
      <input type="number" class="form-control" name="enrollment">
    </div>
    <div class="form-group">
        <label for="pwd">Subject 1</label>
        <input type="number" class="form-control" name="subject1">
      </div>
      <div class="form-group">
        <label for="pwd">Subject 2</label>
        <input type="number" class="form-control" name="subject2">
      </div>
      <div class="form-group">
        <label for="pwd">Subject 3</label>
        <input type="number" class="form-control" name="subject3">
      </div>
    <input type="submit" class="btn btn-default" value="Submit">
  </form>
</div>